<div class="crop_box" >



    <!--裁剪结果显示-->
    <div class="" ui="previewer" style="display: none;">
        <div class="" style="text-align: center;"><img ui="preview_img" /></div>
    </div>
    <!--裁剪结果显示 end-->

    <!--加载中-->
    <div ui="loading-tips" class="imgcut-loading-tips" style="display: none; ">

    </div>
    <!--加载中 end-->

    <!--裁剪区域。-->
    <div ui="cut-area">
        <div>
            <div class="cropControls cropControlsCrop" ui="bar_tool">
                <i class="cropControlZoomMuchIn icon-zoom-in" ui="btn_zoom_much_in"></i>
                <i class="cropControlZoomIn icon-zoom-in" ui="btn_zoom_in"></i>
                <i class="cropControlZoomOut icon-zoom-out" ui="btn_zoom_out"></i>
                <i class="cropControlZoomMuchOut icon-zoom-out" ui="btn_zoom_much_out"></i>
                <i class="cropControlRotateLeft icon-loop" ui='btn_turn_left'></i>
                <i class="cropControlRotateRight icon-undo" ui="btn_turn_right"></i>
                <i class="cropControlCrop icon-crop" ui="btn_cut"></i>
                <i class="cropControlReset icon-reply" ui="btn_reset"></i>
            </div>

        </div>
        <div ui="image-editor-panel">
            <canvas ui="background-layout" style="position: absolute;"></canvas>
            <canvas ui="cutter-layout" style="position: absolute; "></canvas>
            <canvas ui="operation-layout" style="position: absolute; cursor: pointer; "></canvas>
        </div>
    </div>


    <div ui="debug" style="color:green;"></div>
</div>